<header>
  <div class="row align-items-center">
    <div class="col-2">
      <img width="100px" src="images/PM_Icon.jpg"/>
    </div>
    <div class="col-6">
      <h3> Agility PM </h3>
    </div>
    <div class="col-4 usertitle">
      <a href="/home">Hi <span id="username"></span></a>
    </div>
  </div>
</header>
<header class="subheader">
  <div class="row align-items-center">
    <div class="col-4">
    </div>
    <div class="col-4" style="text-align: center;">
      <a style="color: white" href="/newprojects">New Projects |</a>
      <a style="color: white" href="/newprojects">Search</a>
    </div>
  </div>
</header/>

<div class="login-padding" style="padding-top: 10%">
  <div class="container">
      <div>
        <div class="row card align-items-center">
          <h3> Project Overview </h3>
          <div class="container" id="List"></div>
        </div>
      </div>
  </div>
</div>

<footer>
  <div>
    <div>
      <a/>
    </div>
    <div>
      <div>
        <div/>
      </div>
    </div>
    <div >
      <a>By Calum Bell</a>
    </div>
  </div>
</footer>

<script>
$(document).ready(function() {
    $.ajax({
      type: "GET",
      url: "/user",
      success: function(result) {
        console.log(JSON.stringify(result));
        document.getElementById("username").innerHTML = result.name;
      },
      error: function(result) {
        alert('error');
      }
    });

    $.ajax({
      type: "GET",
      url: "/projects",
      success: function(result) {
        let renderString = "";
        console.log(result);
        if(result)
        for(let i = 0; i < result.length; ++i) {
          let noResources = "None";
          let noTasks = "None";
          let projectURL = '/projects/' + result[i].record._id;
          if(result[i].resourceObjects != null) {
            noResources = result[i].resourceObjects.length;
          }
          if(result[i].deadlineObjects != null) {
            noTasks = result[i].deadlineObjects.length;
          }
          renderString += `<a href='${projectURL}'><div class="subcard"><h4>${result[i].record.title}</h4><span>Number of Resources: ${noResources}</span></br><span>Number of Deadlines: ${noTasks}</span></div></a>`;
        }
        renderString += "";
        document.getElementById("List").innerHTML = renderString;
      },
      error: function(result) {
        alert('error');
      }
    });

  });
</script>
